<mat-card class="uploadCard">
    <mat-toolbar color="white" class="uploadtoolbar">
        <span>Upload Document</span>
        <span class="spacer"></span>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div fxLayout="row">
        <ngx-file-drop dropZoneLabel="Drop files here" dropZoneClassName="fileDropContainer" (onFileDrop)="dropped($event)" 
        (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)" [multiple]="false">
            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
               <div class="container">
                <!--    <p class="dropzone">Drop File here to upload</p>-->
                    <button type="button" class="browseBtn" mat-raised-button color="primary" (click)="openFileSelector()">Browse Files</button>
                    
                </div>
            </ng-template>
            
        </ngx-file-drop>
    </div>
        <div fxLayout="row" class="upload-table">
            <table class="table">
                <tbody class="upload-name-style">
                    <tr *ngFor="let item of files; let i=index">
                        <td><strong>File: {{ item.relativePath }}</strong></td>
                    </tr>
                    <tr>
                        <td>
                            <form class="form">
                                <mat-form-field class="full-width" appearance="fill">
                                  <mat-label>Description</mat-label>
                                  <textarea matInput placeholder="File Description" class="textarea" [(ngModel)]="description" [ngModelOptions]="{standalone: true}"></textarea>
                                </mat-form-field>
                              </form>
                        </td>
                    </tr>
                    
                    <button type="button" class="uploadBtn" mat-raised-button color="primary" (click)="uploadFile()">Upload File</button>
               
                </tbody>
            </table>
        </div>
    </mat-card-content>
</mat-card>