
<h2 mat-dialog-title>Update File</h2>
<div mat-dialog-content class="mat-typography">
  
  <h3>File : {{data.file.origFileName}}</h3>
  <input type="file" #fileInput id="uploadFile" (change)="uploadFileEvt($event)" name="uploadFile" />
</div>
<div mat-dialog-actions>
  <button type="button" mat-raised-button color="primary"  mat-dialog-close>Cancel</button>
</div>

<!--
 <h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field appearance="fill">
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>-->